@media (min-width:1400px) {
    .container{
        max-width: 1320px ;
        margin-left: auto;
        margin-right: auto;
    }
    
}

@media (min-width:1200px) and (max-width:1399px) {
    .container{
        max-width: 1140px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .contact-area{
        padding: 60px !important;
        height: 450px !important;          
    }
    
}

@media (min-width:992px) and (max-width:1199px) {
    .container{
        max-width: 960px;
        margin-left: auto;
        margin-right: auto;
    }

    nav ul li a{
        font-size: 13px !important;
    }

    /* profile  */
    .profile .social .bc{
        font-size: 25px !important;
    }
    .profile .social span{
        font-size: 15px !important;
    }
    .profile .social .icon span a{
        font-size: 18px !important;
    }

    /* about-me */
    .contact-area{
        padding: 50px !important;
        height: 400px !important;
    }

}

@media (min-width:768px) and (max-width:991px) {
    .container{
        max-width: 960px;
        margin-left: auto ;
        margin-right: auto ;
    }

    nav ul li a{
        font-size: 12px !important;
    }

    /* profile  */
    .profile .social .bc{
        font-size: 23px !important;
    }
    .profile .social span{
        font-size: 14px !important;
    }
    .profile .social .icon span a{
        font-size: 17px !important;
    }

    /* about-me */
    .contact-area{
        padding: 30px !important;
        height: 350px !important;
    }
    .contact-area h3{
        font-size: 20px !important;
    }
    .contact-area .contect button{
        width: 40px !important;
        height: 40px !important;
    }
    .contact-area .contect ul li{
        font-size: 13px !important;
    }
    .contact-area form input{
        padding: 17px !important;
    }
}

@media (min-width:576px) and (max-width:767px) {
    .container{
        max-width: 960px;
        margin-left: auto;
        margin-right: auto ;
    }

    nav ul li a{
        font-size: 12px !important;
    }

    /* profile  */
    .main-content .col-2{
        width: 21.99%;
    }
    .main-content .col-4{
        display: none;
    }
    .main-content .col-6{
        width: 77.99%;
    }

    /* about-me */
    .contact-area{
        padding: 50px !important;
        height: 350px !important;
    }
}

@media (max-width:575px) {
    .container{
        max-width: 960px;
        margin-left: auto;
        margin-right: auto ;
    }

    nav ul li a{
        font-size: 12px !important;
    }

    /* profile  */
    .main-content .col-2{
        width: 21.99%;
    }
    .main-content .col-4{
        display: none;
    }
    .main-content .col-6{
        width: 77.99%;
    }

    /* about-me */
    .contact-area{
        padding: 50px !important;
        height: 350px !important;
    }
}